

.containerButton{
    margin: 0 0;
    display: flex;
    align-items: flex-start;
    height: 50px;
}

.buttonAddNewSector{
    background-color: #00004F;
    
    padding: 1% 1.2%;
    margin: 1% 1%;
    border-radius: 50%;
    color: white;

}

.containerListSectors{
    margin: 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
    gap: 10px;
  
}



.cardHeader5S{
    padding: 0;
    background-color: #0d6efd;
    height: 4rem
}

.cardImg5S {
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
.card5S{
    
    width: 300px;
    min-width: 200px;
    height: 150px;
    margin: 0 0;
    color: #232529;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}


.cardBodyHome5S::-webkit-scrollbar {
    width: 0px;
}

.selectSectorsGroups{
    margin-bottom: 3%;
}